body{
    font-family: 'poppis',sans-serif;
    background-color:#fff8e7 ;
text-align: center;
margin: 0;

}
header{
    background-color: #ffb703;
  color: #fff;
  padding: 40px 0;
}
.gallery img {
  margin: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}
button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: #ffb703;
  color: black;
  cursor: pointer;
  border-radius: 5px;
}
button:hover {
  background-color: #fb8500;
}


/* Footer */
footer {
  background-color: #079ed0;
  color: white;
  padding: 10px;
  margin: 30px;
}